<h1>
	<%= gravatar_for @user %>
	<%= @user.name%>
</h1>
	<%= @user.grade%><% if @user.grade.nil? == false %> 年<% end %>
	<%= @user.department%>
	<%= @user.comment%>
	<div class="span8">
		hogea
		<% if @user.courses.any? %>
			<h3>Courses(<%= @user.courses.count %>)</h3>
			<ol>
				<%= render @courses %>
			</ol>
		<% end %>
		<% if current_user?(@user) %>
			<%= link_to "授業の登録",courses_search_path %></li>
		<% end %>
	</div>
